<div class="container-fluid form-50">
  <h1>Code Snippets</h1>
  <hr>
  <%= link_to "CSS Snippets (#{@numberOfCSSs} snippets)" %>
  <hr>
  <%= link_to "HTML Snippets (#{@numberOfHTMLs} snippets)" %>
  <hr>
  <%= link_to "Javascript Snippets (#{@numberOfJavascripts} snippets)" %>
  <hr>
  <%= link_to "Ruby Snippets (#{@numberOfRubies} snippets)" %>
</div>
