<h1>Code Snippets</h1>
<h3>Last 5 CSS Code Snippets submitted</h3>
<h3>Last 5 HTML Code Snippets submitted</h3>
<h3>Last 5 Javascript Code Snippets submitted</h3>
<h3>Last 5 Ruby Code Snippets submitted</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Code Snippet</th>
  </tr>
  <% @rubies.each do |ruby| %>
    <tr>
      <td><%= link_to "#{ruby.title}", ruby_path(ruby) %></td>
      <td><%= ruby.code.truncate(20) %></td>
    </tr>
  <% end %>
</table>
